.inputs{
	 Margin-left: 2em;
}
.Login{
	Margin-left: 1em;
	background-color: #4CAF50;
}
.submit{
	Margin-left: 11em;
}
input[type=text] {
  width: auto;
   padding:10px;
  border-radius:15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #0073B1;
  box-sizing: border-box;
  box-shadow:4px 4px 10px 
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 32px;
  font-family:georgia,garamond,serif;
  text-decoration: none;
    margin: 20px 2px;
    border-radius:15px;
  font-size:14px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #74E46C;
}